body{
    background: url(./b_sus.jpg) center/cover;
    overflow: hidden;
}
.picture{
    width: 100px;
    height: 100px;
    position: absolute;
    background: url(./sussy/sus_red.png) center/cover;
    left: 50%;
    top: -100px;
    animation: fall linear forwards;
}
@keyframes fall{
    to{
        transform: translateY(150vh);
    }
}
